APP_NAME=JARVIS Windows DE
APP_ENV=development
ALLOWED_ORIGIN=http://localhost:5173

OPENROUTER_API_KEY=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
OPENROUTER_MODEL=openrouter/free

ENABLE_TTS=true
TTS_PROVIDER=edge
EDGE_TTS_VOICE=de-DE-KatjaNeural

PROJECTS_DIR=projects

HF_HUB_DISABLE_SYMLINKS_WARNING=1